<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Bienvenido a LiRO</title>
</head>
<body style="Margin: 0; padding: 0; background-color: #F4F2EE; font-family: Arial, sans-serif; font-size: 1.25em;">
<!-- Contenedor Principal -->
<table role="presentation" width="100%" cellspacing="0" cellpadding="0" border="0" bgcolor="#F4F2EE">
    <tr>
        <td align="center" style="padding: 20px 0;">
            <table role="presentation" width="600" cellspacing="0" cellpadding="0" border="0" bgcolor="#FFFFFF" style="border: 1px solid #e0e0e0; border-radius: 16px; overflow: hidden;">
                <!-- Encabezado con Imagen -->
                <tr>
                    <td align="center" style="padding: 0;">
                        <img src="https://axkd8tvejaz9.objectstorage.sa-santiago-1.oci.customer-oci.com/n/axkd8tvejaz9/b/bucket-20241105-1622/o/header-02.png"
                             alt="LiRO Logo"
                             width="600"
                             style="display: block; max-width: 100%; height: auto;">
                    </td>
                </tr>
                <!-- Título -->
                <tr>
                    <td align="left" style="padding: 20px 30px;">
                        <h1 style="Margin: 0; color: #323538; font-size: 1.6em;">¡Bienvenido a LiRO, <span style="color: #3aa175; font-weight: bold;">$username</span>!</h1>
                    </td>
                </tr>
                <!-- Mensaje Principal -->
                <tr>
                    <td align="left" style="padding: 0 30px; color: #676D73; line-height: 1.4; font-size: 1em;">
                        <p style="Margin: 0 0 15px;">Tu veterinario <span style="color: #3aa175; font-weight: bold;">$veterinarioname</span> te ha invitado a unirte a <strong>LiRO</strong> para colaborar en la gestión de la salud de $numberpets &#128062; <span style="color: #3aa175; font-weight: bold;">$petname1</span>.</p>
                        <p style="Margin: 0 0 15px;">Ahora puedes <a href="https://play.google.com/store/apps/details?id=com.liro.app&hl=en-US&ah=iweZDOdpVeTFnf7tRWoCzaRdOkA" style="color: #3aa175; font-weight: bold; text-decoration: none;">descargar nuestra app</a> para mascotero &#129331; y acceder a toda la información de $numberpets, recibir recordatorios y mucho más.</p><br>
                    </td>
                </tr>
                <!-- Datos de Acceso -->
                <tr>
                    <td align="left" style="padding: 0 30px;">
                        <p style="Margin: 0 0 10px; font-size: 1.2em; font-weight: bold;">Tus datos de acceso:</p>
                        <p style="Margin: 0;">Email: <span style="color: #3aa175; font-weight: bold;">$user_email</span></p>
                        <p style="Margin: 0 0 40px;">Password: <span style="color: #3aa175; font-weight: bold;">$random</span></p>
                        <p style="Margin: 0 0 30px;">No te olvides de descargar la app  &#128071;</p>
                    </td>
                </tr>
                <!-- Botón -->
                <tr>
                    <td align="center" style="padding: 30px 30px 50px;">
                        <a href="https://play.google.com/store/apps/details?id=com.liro.app&hl=en-US&ah=iweZDOdpVeTFnf7tRWoCzaRdOkA"
                           style="display: inline-block; background-color: #3aa175; color: #ffffff; font-size: 1em; text-decoration: none; padding: 12px 24px; border-radius: 42px;">
                            Descargar para Android
                            <img src="https://axkd8tvejaz9.objectstorage.sa-santiago-1.oci.customer-oci.com/n/axkd8tvejaz9/b/bucket-20241105-1622/o/G_play_img_1.png"
                                 alt="Playstore Icon"
                                 style="width: 52px; height: auto; margin-left: 10px; vertical-align: middle;">
                        </a>
                    </td>
                </tr>
                <!-- Footer -->
                <tr>
                    <td align="center" bgcolor="#3aa175" style="padding: 30px 10px;">
                        <p style="Margin: 0; font-size: 0.8em; color: #ffffff;">
                            Lee nuestras <a href="https://liro.pet/privacy-policies" style="color: #ffffff; text-decoration: underline;">Políticas de Privacidad &#128195;</a>
                        </p>
                        <p style="Margin: 5px 0; font-size: 0.9em; font-weight: bold; color: #ffffff;">LiRO - Tu aliado en la salud de las mascotas.</p>
                        <p style="Margin: 5px 0; color: #ffffff; font-size: 0.8em;">
                            Más info en <a href="https://www.liro.pet" style="color: #ffffff; text-decoration: underline;">www.liro.pet</a>
                            <img src="https://axkd8tvejaz9.objectstorage.sa-santiago-1.oci.customer-oci.com/n/axkd8tvejaz9/b/bucket-20241105-1622/o/email_mini_loog.webp"
                                 alt="LiRO Logo"
                                 style="width: 24px; height: auto; margin-left: 5px; vertical-align: middle;">
                        </p>
                    </td>
                </tr>
            </table>
        </td>
    </tr>
</table>
</body>
</html>

